.idea
.vscode
*/.DS_Store
**/*.log

server/static/uploadfile
server/temp/
server/!temp
server/admin
server/common/middleware/demo.go
server/config/settings.dev.yml
server/go.sum
server/run

client/node_modules/
client/dist/
client/tests/**/coverage/
client/tests/e2e/reports
client/package-lock.json
client/yarn.lock

mysqldataz/
